# Dependencies
node_modules/

# Compiled files
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime environment secrets
.env
.env.local
.env.*.local

# Diagnostic & test coverage
coverage/
.nyc_output/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
